@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('../img/6189857_3179887.jpg');
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: #333;
}

.hz{
    margin-top: 20px;
}

.form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.form .volume-box{
    margin-top: 20px;
}

.volume label{
    color: #707070;
}

.volume-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.volume-option, .volume){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .volume{
    column-gap: 5px;
    cursor: pointer;
}

.volume input{
    accent-color: #00FFAB;
}

.form :where(.volume input, .volume label){
    cursor: pointer;
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    background-color: #00FFAB;
}

@media screen  and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.volume-option, .volume){
        row-gap: 15px;
    }
}